// ======================================================================
//                        MIXINS - USED
// ======================================================================

// MEDIA QUERIES
@mixin mq($break) {
  @if $break == "mobile" {
    @media (min-width: $mobile) {
      @content;
    }
  }
  @else if $break == "desktop" {
    @media (min-width: $desktop) {
      @content;
    }
  }
   @else {
   	@error "Error! Invalid breakpoint `#{$break}`. ";
  }
}

// BEM ELEMENT SELECTOR
@mixin e($element) {
	&__#{$element} {
    @content;
  }
}
// BEM MODIFIER SELECTOR
@mixin m($modifier) {
  &--#{$modifier} {
    @content;
  }
}

// Create a flex container
@mixin flexy($disp: flex, $dir: null, $just: null, $items: null, $self: null) {
  display: $disp;
  flex-direction: $dir;
  justify-content: $just;
  align-items: $items;
  align-self: $self;
}

// ======================================================================
//                        OTHERS
// ======================================================================

// Adjacent sibling margins

@mixin doubly($margin: 1em) {
	& + & {
	  margin-left: $margin;
    @content;
	}
}

// Text
@mixin text($size, $l-height: null, $weight: null, $color: null) {
  font-size: $size;
  line-height: $l-height;
  font-weight: $weight;
  color: $color;
}

// Center containers
@mixin center($w) {
  width: $w;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}
