// ======================================================================
//                        PLACEHOLDERS
// ======================================================================

%btn-base {
  align-self: center;
  width: 400px;
  height: 45px;

  font-weight: $font-weight--bold;

  border: none;
  border-radius: $br--default;
}

// Center Text
%center-text {
  text-align: center;
}

// // Top border
//
// %t-border {
//   border-top: 2px solid $color-border-light;
// }
