// ======================================================================
//                        VARIABLES
// ======================================================================

// Fonts
$font-family--primary    : 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base__font-size         : 16px;
$base__line-height       : 1.5;

$font-weight--medium     : 400;
$font-weight--bold       : 700;
$font-weight--ultra-bold : 900;

// Breakpoints
$mobile  : 480px;
$desktop : 1400px;

// Number of Columns
$grid__cols: 12;

// Layout
$max-width: 1000px;

// Border radius
$br--default    : .4em;
$br--round      : 50%;
$br             : 10px;

// Colors - Descriptive
$white      : #fff;
$black      : #000;
$gray-dark  : #383838;
$cyan       : #05EDFF;
$aquamarine  : #62ddc2;

// Colors - Usage
$color-primary   : $aquamarine;
$color-secondary : $gray-dark;
$color-accent    : $cyan;
$color-text    : #343434;
$color-bg      : #3acec2;
$color-bg-light: #009fe1;

// BUTTON COLORS
$color-default : #60daf0;
$color-success : #3fd96a;
$color-error   : #ff4646;
$color-warning : #ee751e;
$color-info    : #9974f4;
