// ======================================================================
//                        BUTTONS
// ======================================================================

.btn {
  @include m("default") {
    &.theme__colors {
      @extend %btn-base;
      color: white;
      background-color: $color-default;
      text-transform: uppercase;
      margin-top: 50px;
      margin-bottom: 10px;
      @include mq("desktop") {
        width: auto;
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 50px;
        margin-left: 50px;
      }
    }
  }
  @include m("success") {
    @extend %btn-base;
    color: white;
    background-color: $color-success;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    @include mq("desktop") {
      width: auto;
      padding-left: 50px;
      padding-right: 50px;
      margin-top: 50px;
      margin-left: 50px;
      margin-bottom: 0;
    }
  }
  @include m("error") {
    @extend %btn-base;
    color: white;
    background-color: $color-error;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    @include mq("desktop") {
      width: auto;
      padding-left: 50px;
      padding-right: 50px;
      margin-top: 50px;
      margin-left: 50px;
      margin-bottom: 0;
    }
  }
  @include m("warning") {
    @extend %btn-base;
    color: white;
    background-color: $color-warning;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    @include mq("desktop") {
      width: auto;
      padding-left: 50px;
      padding-right: 50px;
      margin-top: 50px;
      margin-left: 50px;
      margin-bottom: 0;
    }
  }
  @include m("info") {
    @extend %btn-base;
    color: white;
    background-color: $color-info;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 35px;
    @include mq("desktop") {
      width: auto;
      padding-left: 50px;
      padding-right: 50px;
      margin-top: 50px;
      margin-left: 50px;
      margin-bottom: 0;
    }
  }
  @include m("default") {
    &[type="submit"] {
      @extend %btn-base;
      color: white;
      background-color: $color-default;
      text-transform: uppercase;
      margin-top: 30px;
      margin-bottom: 10px;
      @include mq("desktop") {
        width: 350px;
        margin-bottom: 0;
      }
    }
  }
}
