/*

Forms:
.form
.form__legend
.form__label--hidden
.form__input

*/

.form {
  display: flex;
  flex-direction: column;
  width: 450px;
  @include mq("desktop") {
    // margin-left: 20px;
    padding-left: 50px;
  }
  .btn--default {
    margin: 0;
    padding: 0;
    margin-bottom: 45px;
    margin-top: -5px;
  }
}

.form__legend {
  display: flex;
}

.form__label--hidden {
  display: flex;
  display: none;
}

.form__input {
  display: flex;
  width: 375px;
  align-self: center;

  padding-bottom: 10px;
  margin-bottom: 30px;

  color: $color-text;
  font-weight: $font-weight--bold;

  border: none;
  border-bottom: 5.5px solid $color-primary;

  outline: none;
  padding-left: 15px;
  @include mq("desktop") {
    width: 325px;
  }

  &::placeholder {
    // padding-left: 15px;
  }
  &:focus::placeholder {
    visibility: hidden;
  }


}
















//
