// ======================================================================
//                        GRID
// ======================================================================

.container {
  @include flexy(flex, column, flex-start, flex-start);
  @include mq("desktop") {
    max-width: 1085px;
    margin: auto;
  }
}

.grid__row {
  @include flexy(flex, column, center, center, center);
  @include mq("desktop") {
    @include flexy(flex, row, flex-start, flex-start, flex-start);
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

// ======================================================================
//                        EVERY COLUMN (2-12) | EVERY GRID
// ======================================================================

@for $i from 2 through 12 {
  .grid__col--#{$i} {
    @include flexy(flex, column, center, center, center);
  }
  .grid__col--#{$i}.theme__colors {
    @extend %btn-base;
    align-items: flex-start;
    color: rgba($color-text, 0.7);
    padding-left: 10px;
    margin-bottom: 6px;
  }
}

// MEDIA QUERY COLUMNS
@for $i from 2 through $grid__cols {
  @include mq("desktop") {
    .grid__col--#{$i},
    .grid__col--#{$i}.theme__colors {
      @include flexy(flex, column, flex-start, flex-start, flex-start);
      flex-basis: (100 / ($grid__cols / $i) ) * 1%;
      padding: 0;
      margin: 0;
    }
  }
}

// ======================================================================
//                        OUTSIDE GRID SYSTEM
// ======================================================================

.grid__col {
  @include m("8") {
    margin-top: em(80px);
    @include mq("desktop") {
      margin-top: 0;
    }
  }
  @include m("9") {
    @include mq("desktop") {
      flex-direction: row;
    }
  }
  @include m("12") {
    @include mq("desktop") {
      flex-direction: row;
      margin-bottom: 85px;
    }
    p {
      max-width: 1000px;
    }
  }
}

// ======================================================================
//                        GRID SYSTEM
// ======================================================================

.grid__col--12.theme__colors {
  background-color: rgba(#37e0a3, 0.5);
  margin-top: 30px;
  @include mq("desktop") {
    justify-content: center;
    align-items: center;
  }
}
.grid__col--6.theme__colors {
  background-color: rgba(#0088b6, 0.75);
  @include mq("desktop") {
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  &:first-child {
    margin-top: 40px;
    @include mq("desktop") {
      margin-right: 12.5px;
    }
  }
}
.grid__col--4.theme__colors {
  background-color: rgba($color-default, 0.7);
  @include mq("desktop") {
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  &:first-child {
    margin-top: 40px;
  }
  &:not(:last-child) {
    @include mq("desktop") {
      margin-right: 12.5px;
    }
  }
}
.grid__col--3.theme__colors {
  background-color: rgba(#ca88f7, 0.6);
  @include mq("desktop") {
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  &:first-child {
    margin-top: 40px;
  }
  &:not(:last-child) {
    @include mq("desktop") {
      margin-right: 12.5px;
    }
  }
}
.grid__col--5.theme__colors {
  background-color: rgba($color-success, 0.7);
  @include mq("desktop") {
    justify-content: center;
    align-items: center;
    margin-right: 12.5px;
  }
  &:first-child {
    margin-top: 40px;
  }
}
.grid__col--7.theme__colors {
  background-color: rgba(red, 0.4);
  @include mq("desktop") {
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  &:only-child {
    margin-top: 40px;
    margin-bottom: 40px;
    @include mq("desktop") {
      margin-bottom: 100px;
    }
  }
}
.grid__col--8.theme__colors {
  background-color: rgba(#fc3500, 0.55);
  margin-top: 40px;
  @include mq("desktop") {
    justify-content: center;
    align-items: center;
    margin-right: 12.5px;
  }
}

.grid__col--7.centered {
  margin: auto;
}
