// ======================================================================
//                        IMAGES
// ======================================================================

.img--logo {
  margin: em(50px) 0;
  margin-top: em(50px);
  margin-bottom: em(40px);
  @include mq("desktop") {
    margin: 0;
    padding: 0;
    margin-top: 50px;
    margin-left: 40px;
  }
}

.img--frame {
  width: em(400px);
  border: 1px solid rgba(0,0,0, 0.3);

  padding: em(12.5px);
  margin-top: em(30px);
  margin-bottom: em(30px);
  @include mq("desktop") {
    width: em(430px);
    margin-top: em(40px);
    margin-left: em(75px);
    margin-bottom: em(55px);
  }
}

.img--avatar {
  margin: auto;
  margin-top: em(0px);
  margin-bottom: em(20px);
}

.grid__col--6 .img--avatar {
  @include mq("desktop") {
      margin-top: em(55px);
  }
}
