// =========================================================================
//                            Base
// =========================================================================

* {
  // -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  // text-decoration: none;
  // MAYBE A RESET MIXIN OR SOMETHING
  margin: 0;
  padding: 0;
}

p {
  // padding: em(75px) em(36px);
  padding-left: em(36px);
  padding-right: em(36px);

  padding-left: em(32.4px);
  padding-right: em(32.4px);

  margin: 0;
  color: darken(gray, 5%);
  color: gray;
  font-size: em(18px);
  // color: $gray-dark;
  // opacity: 0.8;
}



// samples:

// ======================================
//  Base Styles
// ======================================

/*

body {
  color: $color-text;
  font-size: 1rem;
  line-height: 1.5;
  font-family: $font-stack-primary;
  text-align: center;
  margin: 0;
}

h1,
h2 {
  font-family: $font-stack-secondary;
}

p {
  margin-bottom: 1.25em;
}

a {
  color: $color-primary;
  text-decoration: none;
  &:hover {
    color: $color-secondary;
  }
}

*/


// ==========================================================================
// Base Styles
// ==========================================================================

/*

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	color: palette(grey);
  font-size: $base__font-size;
  font-family: $font-family--primary;
  line-height: ($base__line/$base__font-size);
}

// Text

h1 {
	@extend %hdln-prim;
}

h2 {
	@extend %hdln-sec;
}

h3 {
	font-size: em(18px);
}

h4 {
	margin-top: em(22px, 14px);
	margin-bottom: em(32px, 14px);
	color: palette(grey, x-light);
	text-transform: uppercase;
	letter-spacing: $letter-space;
	font-weight: $font-weight--medium;
	font-size: em(14px);
}

a {
	color: palette(grey, dark);
	text-decoration: none;
	font-weight: $font-weight--medium;
}

p {
	margin: 0 0 em(30px, 18px);
	font-weight: $font-weight--light;
	font-size: em(18px);
	line-height: (27px/18px);
}

blockquote {
	@media (min-width: 769px) {
		margin: em(32px, 24px) 0;
		padding: 0 0 0 5%;
		border-left: em(8px, 24px) solid palette(grey, xx-light);
		font-size: em(24px);
	}
	font-weight: $font-weight--light;
	font-style : italic;
	font-size : em(20px);
}

// Lists

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

// Images

img {
  margin-bottom: em(24px);
  max-width: 100%;
  height: auto;
}

// Form elements

input,
textarea {
	display: block;
	padding: 15px;
	width: 100%;
	outline: 0;
	border: 0;
}

input:focus,
textarea:focus {
	transition: $trns_duration;
}

// Button

button {
	outline: 0;
}

// Layout

footer {
	border-top: 1px solid palette(grey, xx-light);
	p {
		font-size: em(16px);
		margin-top: em(22px, 16px);
	}
}



// Center elements

.centered {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

*/


/* Base Styles -------------------- */

/*

* {
  box-sizing: border-box;
}

body {
  @include text(1em, 1.5, $color: $color-text-base);
  margin: 0;
  font-family: $stack-helvetica;
}

h1,
h2 {
  font-family: $stack-abolition;
}

h2 {
  @include text(3.3125em, 1.1, normal);
  margin: 0 0 .5em;
}

h3 {
  @include text(1.25em, 1.2, $color: $color-text-dark);
  margin-bottom: 1.7em;
}

img {
  max-width: 100%;
  margin-bottom: 20px;
  border-radius: $br;
}

ul,
ol {
  margin: 30px 0;
}

li {
  margin-bottom: 10px;
}

*/

/* Pseudo-classes ------------------ */

/*

a {
  &:link {
    color: $color-link-default;
    text-decoration: none;
  }
  &:visited {
    color: $color-link-visited;
  }
  &:hover {
    color: rgba($color-link-default, .5);
  }
}


*/
